* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(180, 180, 180, 0.3);
  background-color: rgb(98, 98, 98);
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid rgba(128, 128, 128, 0.578);
  width: 100%;
  height: 60px;
  padding: 0 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: white;
}
header .tittle {
  width: 70px;
  cursor: pointer;
  font-size: 28px;
}
header .serch-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .serch-bar .search-input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .serch-bar .search-input img {
  position: absolute;
  display: none;
  right: 0;
  margin-right: 10px;
  width: 15px;
  height: 15px;
}
header .serch-bar input {
  background-image: url("../image/search.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 2% 50%;
  width: 260px;
  height: 35px;
  font-size: 16px;
  padding: 5px;
  color: #000000;
  background-color: rgba(230, 230, 230, 0.7137254902);
  border: none;
  border-radius: 5px;
}
header .serch-bar .search-table {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 45px;
  background-color: #ffffff;
  box-shadow: 0 0 6px rgba(104, 104, 104, 0.6);
  width: 330px;
  height: 300px;
  border-radius: 5px;
}
header .serch-bar .search-table ul {
  padding-top: 10px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
header .serch-bar .search-table ul li {
  list-style: none;
  height: 60px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
header .serch-bar .search-table ul li img {
  width: 45px;
  height: 45px;
  margin: 0 15px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  margin-right: 15px;
}
header .serch-bar .search-table ul li:hover {
  background-color: rgba(230, 230, 230, 0.7137254902);
}
header .serch-bar .search-table ul::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}
header .serch-bar .search-table ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(180, 180, 180, 0.3);
  background-color: rgb(98, 98, 98);
}
header .serch-bar .search-table .search-Table-loading-image {
  display: none;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 45%;
}
header .serch-bar .search-table .search-no-data,
header .serch-bar .search-table .histiry-no-data {
  display: none;
  position: absolute;
  top: 50%;
  left: 40%;
  color: #a1a1a1;
}
header .serch-bar .search-table .histiry-no-data {
  left: 30%;
}
header .serch-bar .search-table .show-history {
  display: flex;
  justify-content: space-between;
}
header .serch-bar .search-table .show-history .history-p {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 20px;
}
header .serch-bar .search-table .show-history .clear-history {
  color: rgb(59, 137, 255);
  font-size: 15px;
  font-weight: bold;
  margin: 10px 20px;
  cursor: pointer;
}
header .nav {
  display: flex;
  justify-content: end;
}
header .nav li {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: 25px;
  cursor: pointer;
}
header .nav li img {
  width: 25px;
}
header .nav .personal img {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
header .notification-table {
  position: absolute;
  right: 3%;
  top: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 6px rgba(74, 74, 74, 0.763);
  width: 360px;
  height: 400px;
  border-radius: 5px;
  padding: 10px 0;
  display: none;
}
header .notification-table .notification-title {
  font-size: 24px;
  font-weight: bold;
  padding-left: 10px;
}
header .notification-table .notification-ul {
  overflow-y: scroll;
  height: 90%;
  margin-top: 10px;
}
header .notification-table .notification-ul li {
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}
header .notification-table .notification-ul li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .notification-table .notification-ul li .notification-mes-container {
  margin-left: 10px;
}
header .notification-table .notification-ul li .notification-mes-container .notification-message-main {
  font-weight: bold;
}
header .notification-table .notification-ul li .notification-mes-container .notification-message-second {
  max-width: 230px;
  word-break: break-all;
}
header .notification-table .notification-ul li .notification-mes-container .notification-message-second .notification-time {
  color: rgb(105, 105, 105);
  font-size: 14px;
  margin-left: 5px;
}
header .notification-table .notification-ul li .notification-img-preview {
  width: 50px;
  height: 50px;
  position: absolute;
  margin-right: 10px;
  right: 0;
}
header .notification-table .notification-ul li .notification-img-preview img {
  width: 50px;
  height: 50px;
  border-radius: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
header .notification-table .notification-ul li:hover {
  background-color: rgba(230, 230, 230, 0.7137254902);
}

@media screen and (max-width: 970px) {
  header {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10px;
  }
  header .serch-bar {
    display: none;
  }
}/*# sourceMappingURL=base.css.map */