@keyframes showTable {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes postImageMove {
  0% {
    transform: translate(150px, 124px) scale(1.8);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
.show-post {
  animation: showTable 0.5s;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 101;
  display: none;
  justify-content: center;
  align-items: center;
  .post-leave-img {
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    cursor: pointer;
  }

  .cancel-container {
    display: none;
    position: absolute;
    animation: showTable 0.25s;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.501);
    z-index: 210;
    justify-content: center;
    align-items: center;
    .cancel-table {
      width: 330px;
      height: 180px;
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      .cancel-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        .cancel-main {
          font-size: 18px;
          font-weight: bold;
        }
        .cancel-second {
          margin-top: 10px;
          color: rgb(98, 98, 98);
        }
      }

      .ensure-cancel {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        // grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
        div {
          width: 100%;
          height: 50%;
          text-align: center;
          border-top: 1px solid rgb(98, 98, 98);
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          user-select: none;
        }
        .cancel-button {
          color: red;
          font-weight: bold;
        }
      }
    }
  }

  .posting {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 200;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(128, 128, 128, 0.578);
    border-radius: 10px;
    width: 580px;
    height: 620px;
    hr {
      margin: 0 20px;
      width: 95%;
      display: none;
    }
    .post-header {
      position: relative;
      height: 40px;
      width: 100%;
      border-bottom: 1px solid rgba(128, 128, 128, 0.578);
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 16px;
        font-weight: bold;
      }
      .undo,
      .undo-2,
      .next-step,
      .next-step-2 {
        display: none;
        color: rgb(40, 154, 255);
        width: 50px;
        margin: 0 15px;
        cursor: pointer;
        user-select: none;
      }
      .undo,
      .undo-2 {
        position: absolute;
        left: 0;
      }
      .next-step,
      .next-step-2 {
        position: absolute;
        right: 0;
      }
    }

    .posting-area {
      display: flex;
      width: 100%;
      height: 580px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .posting-area-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 25%;
        }
        .post-image {
          display: none;
        }
        label {
          width: 20%;
          height: 30px;
          background-color: rgb(40, 154, 255);
          border-radius: 10px;
          color: white;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }
    }

    .cutting {
      display: none;
      width: 100%;
      height: 580px;
      justify-content: center;
      align-items: center;
      .preveiw-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid rgba(128, 128, 128, 0.578);
        width: 480px;
        height: 550px;
        .preveiw {
          // animation: postImageMove 1s;
          width: 100%;
          height: 100%;
          object-fit: contain;
          padding: 5px;
        }
      }

      .post-message {
        display: none;
        margin-left: 15px;
        height: 250px;
        width: 100%;
        .user-message-textarea {
          width: 100%;
          //   height: 100%;
          resize: none;
          padding: 5px;
          font-size: 16px;
          font-weight: bold;
          color: black;
          // border: none;
        }
      }
      //   .preview-container {
      //     display: none;

      //     .preview-poster {
      //       .preview-poster-header-img {
      //       }
      //     }
      //   }
    }
  }
}

@media screen and (max-width: 650px) {
  .show-post .posting {
    width: 90%;
    height: auto;
    .cutting {
      height: auto;
    }
    .posting-area {
      height: 300px;
    }
  }
}
