@keyframes showTable {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes postImageMove {
  0% {
    transform: translate(150px, 124px) scale(1.8);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
input,
textarea {
  font-family: Arial, sans-serif;
}
.show-post {
  animation: showTable 0.5s;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 101;
  display: none;
  justify-content: center;
  align-items: center;
  .post-leave-img {
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    cursor: pointer;
  }

  .cancel-container {
    display: none;
    position: absolute;
    animation: showTable 0.25s;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.501);
    z-index: 210;
    justify-content: center;
    align-items: center;
    .cancel-table {
      width: 330px;
      height: 180px;
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      .cancel-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
        .cancel-main {
          font-size: 18px;
          font-weight: bold;
        }
        .cancel-second {
          margin-top: 10px;
          color: rgb(98, 98, 98);
        }
      }

      .ensure-cancel {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        // grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
        div {
          width: 100%;
          height: 50%;
          text-align: center;
          border-top: 1px solid rgb(98, 98, 98);
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          user-select: none;
        }
        .cancel-button {
          color: red;
          font-weight: bold;
        }
      }
    }
  }

  .posting {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 200;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(128, 128, 128, 0.578);
    border-radius: 10px;
    width: 580px;
    height: 620px;
    hr {
      margin: 0 20px;
      width: 95%;
      display: none;
    }
    .post-header {
      position: relative;
      height: 40px;
      width: 100%;
      border-bottom: 1px solid rgba(128, 128, 128, 0.578);
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 16px;
        font-weight: bold;
      }
      .undo,
      .undo-2,
      .next-step,
      .next-step-2 {
        display: none;
        color: rgb(40, 154, 255);
        width: fit-content;
        margin: 0 15px;
        cursor: pointer;
        user-select: none;
      }
      .undo,
      .undo-2 {
        position: absolute;
        left: 0;
      }
      .next-step,
      .next-step-2 {
        position: absolute;
        right: 0;
      }
    }

    .posting-area {
      display: flex;
      width: 100%;
      height: 580px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .posting-area-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 25%;
        }
        .post-image {
          display: none;
        }
        label {
          width: 20%;
          height: 30px;
          background-color: rgb(40, 154, 255);
          border-radius: 10px;
          color: white;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }
    }

    .cutting {
      display: none;
      width: 100%;
      height: 580px;
      justify-content: center;
      align-items: center;
      .preview-image-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid rgba(128, 128, 128, 0.578);
        width: 480px;
        height: 550px;
        .preview {
          // animation: postImageMove 1s;
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: contain;
          padding: 5px;
          // &:not(:first-child) {
          //   opacity: 0;
          // }
          &:nth-child(n + 5) {
            opacity: 0;
          }
        }
        .dot {
          display: none;
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 20px;
          justify-content: center;
          align-items: center;
          z-index: 999;
          .preview-dot {
            border: 2px solid rgba(128, 128, 128, 0.578);
            background-color: #ffffff;
            width: 12px;
            height: 12px;
            margin-right: 3px;
            border-radius: 50%;
          }
        }

        @keyframes showRight {
          0% {
            left: 5%;
            opacity: 0;
          }
          100% {
            left: 0;
            opacity: 1;
          }
        }

        @keyframes hideRight {
          0% {
            left: 0;
            opacity: 1;
          }
          100% {
            left: -5%;
            opacity: 0;
          }
        }

        @keyframes showLeft {
          0% {
            left: -5%;
            opacity: 0;
          }
          100% {
            left: 0;
            opacity: 1;
          }
        }
        @keyframes hideLeft {
          0% {
            left: 0;
            opacity: 1;
          }
          100% {
            left: 5%;
            opacity: 0;
          }
        }

        .previous-arrow {
          display: none;
          position: absolute;
          z-index: 999;
          left: -10%;
          margin-left: 10px;
          height: 25px;
          cursor: pointer;
        }
        .next-arrow {
          display: none;
          position: absolute;
          z-index: 999;
          right: -10%;
          margin-right: 10px;
          height: 25px;
          cursor: pointer;
        }
      }

      .post-message {
        display: none;
        position: relative;
        justify-content: center;
        z-index: 200;
        margin-left: 15px;
        height: 250px;
        width: 100%;
        .user-message-textarea {
          width: 100%;
          //   height: 100%;
          resize: none;
          padding: 10px;
          font-size: 16px;
          // color: black;
          border: 1px solid rgba(128, 128, 128, 0.578);
          border-radius: 10px;
        }
        .user-message-textarea::-webkit-input-placeholder {
          font-style: italic;
          letter-spacing: 2px;
          font-size: 14px;
        }
        .user-message-textarea:focus {
          outline: none;
        }
        .post-message-tag {
          display: none;
          position: absolute;
          top: 255px;
          width: 98%;
          height: 150px;
          background-color: #ffffff;
          box-shadow: 0 0 6px rgba(104, 104, 104, 0.6);
          ul {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            li {
              list-style: none;
              display: flex;
              align-items: center;
              cursor: pointer;
              img {
                width: 45px;
                height: 45px;
                object-fit: cover;
                border-radius: 50%;
                margin: 5px 10px;
              }
            }
            li:hover {
              background-color: rgba(227, 227, 227, 0.773);
            }
          }
          .tag-name-search-loadingImg {
            display: none;
            position: absolute;
            height: 20px;
            top: 45%;
            right: 47%;
          }
        }
      }
      //   .preview-container {
      //     display: none;

      //     .preview-poster {
      //       .preview-poster-header-img {
      //       }
      //     }
      //   }
    }
    .post-hashtag {
      display: none;
      width: 100%;
      height: 250px;
      padding: 2.5%;

      .post-hashtag-div {
        display: flex;
        align-items: center;
        width: 100%;
        height: 20%;
        border: 1px solid rgba(128, 128, 128, 0.578);
        border-radius: 10px;

        .hashImg {
          height: 25px;
          margin: 0 10px;
        }
        input {
          width: 100%;
          height: 40px;
          border-radius: 10px;
          border: none;
          font-size: 16px;
        }
        input:focus {
          outline: none;
        }
        input::-webkit-input-placeholder {
          font-style: italic;
          letter-spacing: 2px;
          font-size: 14px;
        }
      }
      .hashtag-container {
        position: relative;
        margin-top: 10px;
        // width: 100%;
        height: 180px;
        li {
          list-style: none;
          display: inline-block;
          border: 2px solid rgba(227, 227, 227, 0.773);
          border-radius: 10px;
          font-size: 16px;
          padding: 5px;
          margin: 5px 5px 0 0;
          background-color: rgba(227, 227, 227, 0.773);
          text-align: center;
          vertical-align: middle;
          img {
            margin-left: 5px;
            height: 20px;
            vertical-align: middle;
            cursor: pointer;
          }
        }
        .hashtag-search-talbe {
          display: none;
          position: absolute;
          top: 0;
          width: 100%;
          height: 160px;
          background-color: #ffffff;
          box-shadow: 0 0 6px rgba(104, 104, 104, 0.6);
          ul {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            li {
              display: flex;
              flex-direction: column;
              align-items: start;
              margin: 0;
              width: 100%;
              border-radius: 0;
              background-color: white;
              border: none;
              padding: 10px;
              cursor: pointer;
              .hashtag-post-amount {
                color: rgba(122, 122, 122, 0.773);
                font-size: 14px;
              }
            }
            li:hover {
              background-color: rgba(227, 227, 227, 0.773);
            }
          }
          .hashtag-search-loadingImg {
            display: none;
            height: 30px;
            position: absolute;
            top: 45%;
            right: 50%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .show-post .posting {
    width: 90%;
    height: auto;
    .cutting {
      height: auto;
    }
    .posting-area {
      height: 300px;
    }
  }
}
