.show-post {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 101;
  display: none;
  justify-content: center;
  align-items: center;
  .post-leave-img {
    height: 25px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    cursor: pointer;
  }
  .posting {
    width: 570px;
    background-color: white;
    z-index: 102;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    .post-header {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border-bottom: 1px solid rgba(128, 128, 128, 0.578);
      p {
        display: flex;
        align-items: center;
        height: 40px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
      }
      .next-step,
      .undo {
        width: 50px;
        display: none;
        color: rgb(40, 154, 255);
        position: absolute;
        right: 0;
        margin: 0 15px;
        user-select: none;
        cursor: pointer;
      }
      .undo {
        left: 0;
      }
    }

    .posting-area,
    .posting-area-div,
    .cutting {
      width: 100%;
      height: 530px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        width: 25%;
      }
      label {
        width: 20%;
        height: 30px;
        background-color: rgb(40, 154, 255);
        border-radius: 10px;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      .post-image {
        display: none;
      }
    }
    .cutting {
      //   height: 100%;
      display: none;
      flex-direction: row;

      //   justify-content: space-between;
      //   align-items: center;
      .preveiw {
        // display: none;
        width: 478px;
        height: 490px;
        object-fit: cover;
        border: 1px solid rgba(128, 128, 128, 0.578);
      }
      .post-message {
        display: none;
        height: 490px;
        width: 100%;
        border: 1px solid rgba(128, 128, 128, 0.578);
        .user-message-textarea {
          width: 100%;
          height: 150px;
          resize: none;
          padding: 5px;
          font-size: 16px;
          font-weight: bold;
          color: black;
        }
      }
    }
  }
}
