<% include showPost.ejs %> <% include posting.ejs %>
<header>
  <div class="tittle">
    <p onclick="location.href='/'">Snapstory</p>
  </div>
  <div class="serch-bar">
    <div class="search-input">
      <input
        type="text"
        onclick="this.placeholder='搜尋'"
        onblur="this.placeholder='      搜尋'"
        placeholder="      搜尋"
      />
      <img src="/image/loading.gif" alt="" />
    </div>

    <div class="search-table">
      <div class="show-history">
        <p class="history-p">最近</p>
        <p class="clear-history">全部清除</p>
      </div>

      <ul class="search-user"></ul>

      <img class="search-Table-loading-image" src="/image/loading.gif" alt="" />
      <p class="search-no-data">查無結果。</p>
      <p class="histiry-no-data">沒有近期搜尋紀錄。</p>
    </div>
  </div>
  <div class="nav">
    <li class="search-header"><img src="/image/search2.png" alt="" /></li>
    <li class="home-page"><img src="/image/home.png" alt="" /></li>
    <li class="inbox-page"><img src="/image/message.png" alt="" /></li>
    <li class="post"><img src="/image/post.png" alt="" /></li>
    <li class="heart"><img src="/image/heart.png" alt="" /></li>
    <li class="personal"><img src="" alt="" /></li>
  </div>

  <div class="notification-table">
    <div class="notification-title">
      <p>通知</p>
    </div>
    <ul class="notification-ul">
      <!-- <li>
        <img
          src="https://d1vscilbhjiukl.cloudfront.net/snapstory/post/1675272345995"
          alt=""
        />
        <div class="notification-mes-container">
          <p class="notification-message-main">cvbn留言回應了:</p>
          <p class="notification-message-second">
            我來這裡測試留言~<span class="notification-time">2天</span>
          </p>
        </div>
        <div class="notification-img-preview">
          <img
            src="https://d1vscilbhjiukl.cloudfront.net/snapstory/post/1675044099883"
            alt=""
          />
        </div>
      </li> -->
    </ul>
    <p class="notification-no-data">沒有通知紀錄。</p>
  </div>
</header>
<script src="/JS/showPost2.js"></script>
