<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/base.css" />
    <title>Snapstory</title>
  </head>
  <body>
    <% include posting.ejs %>
    <header>
      <div class="tittle">
        <p>Snapstory</p>
      </div>
      <div class="serch-bar">
        <input
          type="text"
          onclick="this.placeholder='搜尋'"
          onblur="this.placeholder='      搜尋'"
          placeholder="      搜尋"
        />
      </div>
      <div class="nav">
        <li class="home-page"><img src="/image/home.png" alt="" /></li>
        <li class="inbox-page"><img src="/image/message2.png" alt="" /></li>
        <li class="post"><img src="/image/post.png" alt="" /></li>
        <li class="heart"><img src="/image/heart.png" alt="" /></li>
        <!-- <li>個人</li> -->
      </div>
    </header>

    <main></main>
  </body>

  <script src="/JS/base.js"></script>
  <script src="/JS/inbox.js"></script>
</html>
