<!DOCTYPE html>
<html lang="zh">
  <div class="show-post-blacksreen-index">
    <img class="close-post-button-index" src="" alt="" />
    <!-- <div class="post-table" id="63e1c5f10da38a2a6f7489ca" style="display: flex">
      <div class="post-image-container">
        <img
          class="post-image"
          src="https://d1vscilbhjiukl.cloudfront.net/snapstory/post/1675740657841"
        />
      </div>
      <div class="comment-container">
        <section class="poster">
          <div class="poster-title">
            <img
              class="poster-header-img-post"
              src="https://d1vscilbhjiukl.cloudfront.net/testingforpart3/1674198598432"
            />
            <div class="poster-content">
              <p class="poster-name">cvbn55688</p>
              <p class="poster-messag">wasd</p>
            </div>
            <img class="dots" src="/image/dots.png" />
          </div>
        </section>
        <section class="comment"><ul></ul></section>
        <section class="post-interact-container">
          <div class="post-interact">
            <img src="/image/heart.png" class="heart-post" /><img
              src="/image/message.png"
              class="messagge-post"
            /><img src="/image/share.png" class="share-post" />
          </div>
          <div class="post-liker">
            <span class="like-amount-post">1個讚</span
            ><span class="show-post-time">31分鐘前</span>
          </div>
        </section>
        <section class="leave-comment-container">
          <div class="tagSearch">
            <img
              class="tagSearch-Table-loading-image"
              src="/image/loading.gif"
              alt=""
            />
            <ul>
              <li>
                <img
                  src="https://d1vscilbhjiukl.cloudfront.net/snapstory/post/1666857417.png"
                /><span>ccc</span>
              </li>
            </ul>
          </div>
          <input class="leave-comment" /><button class="submit-comment">
            發佈
          </button>
        </section>
      </div>
    </div> -->
  </div>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Snapstory是⼀個社群網站，裡⾯提供使⽤者追隨朋友、上傳圖文、
    分享⽣活、也可以在貼文和留⾔中標記朋友，隨時與朋友互動。"
    />
    <link rel="stylesheet" href="/style/base.css" />
    <link rel="stylesheet" href="/style/index.css" />
    <title>Snapstory</title>
  </head>
  <body>
    <% include posting.ejs %> <% include showPost.ejs %> <% include header.ejs
    %>

    <main>
      <div class="article-container"></div>
      <div class="intersectionDetection"></div>
    </main>
  </body>

  <script src="/JS/base.js"></script>
  <script src="/JS/indexLoadPost.js"></script>
  <script src="/JS/index.js"></script>
</html>
