<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Snapstory是⼀個社群網站，裡⾯提供使⽤者追隨朋友、上傳圖文、
    分享⽣活、也可以在貼文和留⾔中標記朋友，隨時與朋友互動。"
    />
    <link rel="icon" href="/image/snap.png" type="image/png" />
    <link rel="stylesheet" href="/style/base.css" />
    <link rel="stylesheet" href="/style/index.css" />
    <title>Snapstory</title>
  </head>
  <div class="show-post-blacksreen-index">
    <img class="close-post-button-index" src="" alt="" />
  </div>
  <body>
    <% include header.ejs %>

    <main>
      <div class="article-container"></div>
      <div class="intersectionDetection"></div>
      <div class="user-info-index"></div>
    </main>
  </body>

  <script src="/JS/indexLoadPost.js"></script>
  <script src="/JS/index.js"></script>
</html>
