<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/base.css" />
    <link rel="stylesheet" href="/style/index.css" />
    <title>Snapstory</title>
  </head>
  <body>
    <% include posting.ejs %> <% include showPost.ejs %>
    <header>
      <div class="tittle">
        <p onclick="location.href='/'">Snapstory</p>
      </div>
      <div class="serch-bar">
        <input
          type="text"
          onclick="this.placeholder='搜尋'"
          onblur="this.placeholder='      搜尋'"
          placeholder="      搜尋"
        />
      </div>
      <div class="nav">
        <li class="home-page"><img src="/image/home2.png" alt="" /></li>
        <li class="inbox-page"><img src="/image/message.png" alt="" /></li>
        <li class="post"><img src="/image/post.png" alt="" /></li>
        <li class="heart"><img src="/image/heart.png" alt="" /></li>
        <li class="personal"><img src="" alt="" /></li>
      </div>
    </header>

    <main>
      <div class="article-container"></div>
    </main>
  </body>

  <script src="/JS/base.js"></script>
  <script src="/JS/index.js"></script>
</html>
