<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/base.css" />
    <link rel="stylesheet" href="/style/index.css" />
    <title>Snapstory</title>
  </head>
  <body>
    <% include posting.ejs %> <% include showPost.ejs %> <% include header.ejs
    %>

    <main>
      <div class="article-container"></div>
    </main>
  </body>

  <script src="/JS/base.js"></script>
  <script src="/JS/index.js"></script>
</html>
