<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/base.css" />
    <link rel="stylesheet" href="/style/index.css" />
    <title>Snapstory</title>
  </head>
  <body>
    <% include posting.ejs %>
    <header>
      <div class="tittle">
        <p>Snapstory</p>
      </div>
      <div class="serch-bar">
        <input
          type="text"
          onclick="this.placeholder='搜尋'"
          onblur="this.placeholder='      搜尋'"
          placeholder="      搜尋"
        />
      </div>
      <div class="nav">
        <li class="home-page"><img src="/image/home2.png" alt="" /></li>
        <li class="inbox-page"><img src="/image/message.png" alt="" /></li>
        <li class="post"><img src="/image/post.png" alt="" /></li>
        <li class="heart"><img src="/image/heart.png" alt="" /></li>
        <li>個人</li>
      </div>
    </header>

    <main>
      <div class="article-container">
        <!-- <article>
          <div class="container">
            <section class="poster">
              <img
                class="poster-header-img"
                src="/image/1666870555.png"
                alt=""
              />
              <p class="poster-name">cvbn55688</p>
            </section>
            <section class="content">
              <img class="post-img" src="/image/1666939614.jpg" alt="" />
            </section>
            <section class="comment">
              <div class="user-interacte">
                <img src="/image/heart.png" alt="" />
                <img src="/image/message.png" alt="" />
                <img src="/image/share.png" alt="" />
              </div>
              <div class="user-likes">
                <span class="like-amount">123</span>
                <span>個人喜歡這則貼文</span>
              </div>
              <div class="post-message">
                <span class="poster-name">cvbn55688</span>
                <span
                  >測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試</span
                >
              </div>
            </section>
          </div>
        </article>

        <article>
          <div class="container">
            <section class="poster">
              <img
                class="poster-header-img"
                src="/image/1666870555.png"
                alt=""
              />
              <p class="poster-name">cvbn55688</p>
            </section>
            <section class="content">
              <img
                class="post-img"
                src="/image/1667368657.0931315.jpg"
                alt=""
              />
            </section>
            <section class="comment">
              <div class="user-interacte">
                <img src="/image/heart.png" alt="" />
                <img src="/image/message.png" alt="" />
                <img src="/image/share.png" alt="" />
              </div>
              <div class="user-likes">
                <span class="like-amount">123</span>
                <span>個人喜歡這則貼文</span>
              </div>
              <div class="poster-message">
                <span class="poster-name">cvbn55688</span>
                <span
                  >測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試</span
                >
              </div>
            </section>
          </div>
        </article> -->
      </div>
    </main>
  </body>

  <script src="/JS/base.js"></script>
  <script src="/JS/index.js"></script>
</html>
