<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/image/snap.png" type="image/png" />
    <link rel="stylesheet" href="/style/login_page.css" />
    <title>Snapstory</title>
  </head>
  <body>
    <main>
      <section class="sign-zone">
        <div class="login">
          <div class="login-container">
            <p class="title">Snapstory</p>
            <input type="text" class="login-account" placeholder="請輸入帳號" />
            <input
              type="password"
              class="login-password"
              placeholder="請輸入密碼"
            />
            <button class="login-submit">
              <p>登入</p>

              <img src="/image/loading.gif" alt="" />
            </button>
          </div>
          <div class="no-account">
            <p>尚無帳號嗎?</p>
            <p class="signup-button">註冊</p>
          </div>
        </div>

        <div class="signup">
          <div class="signup-container">
            <p class="title">Snapstory</p>
            <input
              type="text"
              class="signup-account"
              placeholder="請輸入帳號"
            />
            <input type="text" class="user-name" placeholder="用戶名稱" />
            <input
              type="password"
              class="signup-password"
              placeholder="請輸入密碼"
            />
            <button class="signup-submit">
              <p>註冊</p>
              <img src="/image/loading.gif" alt="" />
            </button>
          </div>
          <div class="have-account">
            <p>已經有帳號嗎?</p>
            <p class="login-button">登入</p>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p>COPYRIGHT@2023Snapstory</p>
    </footer>
  </body>
  <script src="/JS/login_system.js"></script>
</html>
