<link rel="stylesheet" href="/style/posting.css" />

<div class="show-post">
  <img class="post-leave-img" src="/image/x.png" alt="" />
  <div class="posting">
    <div class="post-header">
      <p class="undo">上一步</p>
      <p class="post-title">建立新貼文</p>
      <p class="next-step">下一步</p>
    </div>

    <label for="upload" class="posting-area">
      <div class="posting-area-div">
        <img src="/image/gallery.png" alt="" />
        <label for="upload">選擇圖片</label>
        <input id="upload" class="post-image" type="file" />
      </div>
    </label>

    <div class="cutting">
      <img class="preveiw" src="" alt="" />
      <div class="post-message">
        <textarea
          class="user-message-textarea"
          minlength="1"
          placeholder="填寫說明文字"
        ></textarea>
      </div>
    </div>
  </div>
</div>
