<link rel="stylesheet" href="/style/show_post.css" />
<div class="show-post-blacksreen">
  <img class="close-post-button" src="/image/x.png" alt="" />
</div>

<div class="show-edit-blacksreen">
  <div class="edit-table">
    <p class="edit-button">編輯</p>
    <p class="delete-button">刪除</p>
    <p class="edit-cancel-button">取消</p>
  </div>
</div>
