<link rel="stylesheet" href="/style/showLike.css" />
<div class="like-blackscreen notice-click">
  <div class="post-like-table notice-click">
    <div class="like-title notice-click">
      <p class="notice-click">誰來按讚</p>
      <img class="like-close notice-click" src="/image/close.png" alt="" />
    </div>
  </div>
</div>

<script src="/JS/showLikeTable.js"></script>
