<link rel="stylesheet" href="/style/show_send_chat.css" />
<div class="show-send-chat-blacksreen">
  <div class="send-chat">
    <div class="send-chat-title">
      <p>發送訊息</p>
      <img class="close-send-chat-button" src="/image/close.png" alt="" />
    </div>
    <div class="send-chat-search">
      <input type="text" placeholder="搜尋帳戶..." />
    </div>
    <div class="send-chat-search-table">
      <div class="send-chat-to">
        <p>致：</p>
        <ul class="send-chat-to-user"></ul>
      </div>

      <ul class="send-chat-search-user"></ul>
      <img class="send-chat-loading" src="/image/loading.gif" alt="" />
      <p class="send-chat-please">請搜尋帳戶</p>
      <p class="send-chat-no-data">查無帳戶</p>
    </div>
    <div class="send-chat-meesage">
      <input type="text" placeholder="訊息..." />
      <img class="chat-send" src="/image/send.png" alt="" />
      <img class="chat-loading" src="/image/loading.gif" alt="" />
    </div>
  </div>
</div>
