<link rel="stylesheet" href="/style/show_post.css" />
<div class="show-post-blacksreen notice-click">
  <img class="close-post-button notice-click" src="/image/x.png" alt="" />
</div>

<div class="show-edit-blacksreen notice-click">
  <div class="edit-table notice-click">
    <p class="edit-button notice-click">編輯</p>
    <p class="delete-button notice-click">刪除</p>
    <p class="edit-cancel-button notice-click">取消</p>
  </div>
</div>
