<link rel="stylesheet" href="/style/showLike.css" />
<div class="like-blackscreen">
  <div class="post-like-table">
    <div class="like-title">
      <p>誰來按讚</p>
      <img class="like-close" src="/image/close.png" alt="" />
    </div>
  </div>
</div>

<script src="/JS/showLikeTable.js"></script>
